{:output  {:pattern "::{{level}} file={{filename}},line={{row}},col={{col}}::{{message}}"}
 :linters {:unresolved-symbol   {:level :error}
           :unused-binding      {:level :error}
           :unused-namespace    {:level :error}
           :unused-referred-var {:level :error}
           :consistent-alias    {:aliases {clojure.string                                         s
                                           com.brunobonacci.mulog                                 logger
                                           integrant.core                                         ig
                                           clojure.core.async                                     async
                                           pronto.core                                            pronto
                                           sample-donkey-api.application.mapper.proto-definitions proto-defs
                                           promesa.core                                           p}}}
 :lint-as {pronto.core/defmapper clojure.core/def
           pronto.core/pcond->   clojure.core/cond->}}
