{:utils/config                    {}
 :model/create-stock-order        {}
 :external/server                 {:donkey #ig/ref :http-factory/donkey
                                   :router #ig/ref :external/routes
                                   :config #ig/ref :utils/config}
 :external/routes                 {:controller                #ig/ref :external/controller
                                   :create-stock-order-schema #ig/ref :model/create-stock-order
                                   :ip-resolver               #ig/ref :repository/ip-resolver}
 :external/controller             {:stock-order-processor #ig/ref :processor/stock-order}
 :internal/server                 {:donkey #ig/ref :http-factory/donkey
                                   :router #ig/ref :internal/routes
                                   :config #ig/ref :utils/config}
 :internal/routes                 {:controller #ig/ref :internal/controller}
 :internal/controller             {}
 :http-factory/donkey             {}
 :http/client                     {:donkey #ig/ref :http-factory/donkey}
 :repository/ip-resolver          {:http-client #ig/ref :http/client
                                   :config      #ig/ref :utils/config}
 :repository/stock-order-producer {:config #ig/ref :utils/config}
 :processor/stock-order           {:message-producer #ig/ref :repository/stock-order-producer}}
